<header class="container">
  <div class="row">
    <div class="span6">
      <p>
      	<span id="brand" class="crd-brand crd-fade">Junior Rodriguez</span><br/>
      	<span id="brand2" class="crd-fade2">Hair Styling &amp; Body Clinic</span>
      </p>
    </div>
    <div class="span6">
      <ul class="nav nav-pills nav-stacked visible-phone">
      	<li class="active"><%= link_to "Sobre Nós", root_path %></li>
        <li><%= link_to "Cursos", curso_path %></li>
        <li><%= link_to "Contactos", contacto_path %></li>
      </ul>
      
      <ul id="nav" class="crd-nav nav nav-pills hidden-phone fadeInLeftBig">
        <li class="active"><%= link_to "Sobre Nós", root_path(root: '1'), :'data-toggle' => "pill", :'data-target' => "#", class: "root" %></li>
        <li><%= link_to "Cursos", curso_path, :'data-toggle' => "pill", :'data-target' => "#" %></li>
        <li><%= link_to "Contactos", contacto_path, :'data-toggle' => "pill", :'data-target' => "#" %></li>
      </ul>

    </div>
  </div>
</header>

<script>
var url = window.location;

$('ul.nav > li').removeClass('active');
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');


if(location.pathname != "/" || window.location.href.indexOf("root") > -1) {
  $('#brand').removeClass('crd-fade');
  $('#brand2').removeClass('crd-fade2');
  $('#nav').removeClass('fadeInLeftBig');
  /*if(window.location.href.indexOf("root") > -1)
    $('.root').parent().addClass('active');*/
}

</script>